node_modules
.pnpm-store
.next
out
dist
.turbo
coverage
.DS_Store
*.log
.env
.env.local
.env.*.local
.vercel
.idea
.vscode/*
!.vscode/extensions.json
packages/database/src/generated
playwright-report
test-results
